<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="/users/dashboard"> Dashboard </a>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  role="tab" href="/users/hosted">Hosted Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/played" data-toggle="tab" role="tab">Played Games</a>
  </li>

</ul>
