<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/hosted">Hosted Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/played">Played Games</a>
  </li>

</ul>
