<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="/games"><img src="/images/d20.svg" class="brand"></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/" id="highlight"><i class="fa fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/add"><i class="fas fa-user-plus"></i> Host A Game </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/map"><i class="fas fa-map-marker-alt"></i> Find A Game </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-book"></i> About </a>
      </li>

      <% if (user == null) { %>

          <li class="nav-item">
            <a class="nav-link plain-link ml-auto" href="/auth/google/"> <i class="fab fa-google-plus"></i> Login With Google</a>
          </li> 

      <% } %>

      <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/dashboard"><i class="far fa-address-book"></i> Dashboard </a>
        </li>
        <li class="nav-item">
         <a href="/auth/logout" a class= "nav-link"><i class="fas fa-sign-out-alt"></i>Logout </a>
        </li>
      <% } %>
    </ul>
  </div>



</nav>
