<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/games"><i class="fa fa-gamepad"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/auth/google/"> <i tag class="fa fa-google left"> </i> Login With Google</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/add">Host A Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
