<div class="dropdown">
  <!-- make this into functional dropdown  -->
  <form action="/games/player_review/<%= game.id %>" method="post">
    <div class="form-group">
      <input type="number"  class="form-control" name="playerReviewScore"  min= "1" max="5" placeholder="Rate 1 - 5">
    </div>

    <div class="demo">
      <div class="stars-outer">
        <div class="stars-inner"></div>
      </div>
      <span class="number-rating">3</span>
    </div>


    <div class="form-group">
      <label for="playerReviewBody">Player Review: </label>
      <textarea class="form-control" name="playerReviewBody" placeholder= "Leave feedback for your game master here."> </textarea>
      <button class="btn btn-danger"> Submit </button>
    </div>
</div>
