<h1> Google Map Test </h1>

<div id="map">
</div>

<div id="map-search float-left">
  <form action="/games/map" method="post">
    <input type="search" id="map-search" placeholder="Find a Game.." name="searchZip">
    <label for="radius"> Radius </label>
    <select class="custom-select d-inline-block" id="radius" name="radius">
      <option value="5" >5 miles</option>
      <option value="10">10 miles</option>
      <option value="15">15 miles </option>
      <option value="20">20 miles </option>
    </select>
    <button class="btn btn-primary" type="submit" id="submit"> Search </button>
  </form>
</div>

<% if (games.length > 0) { %>
    <h1> howdy there this is a test </h1>
<% } %>

<% if (center.length > 0) { %>
    <div class="hidden" data-lat= "<%= center[0] %>" data-long= "<%= center[1] %>">
    </div>
<% } %>
