<h1> Google Map Test </h1>

<div id="map">
</div>

<div id="map-search float-left">
  <input type="search" id="map-search" placeholder="Find a Game..">
  <button class="btn btn-primary" onclick="searchAddress();"> Search </button>
</div>
