<h1> Google Map Test </h1>

<div id="map">
</div>

<div id="map-search float-left">
  <form action="/games/map" method="post">
    <input type="search" id="map-search" placeholder="Find a Game.." name="searchZip">
    <button class="btn btn-primary" type="submit"> Search </button>
  </form>
</div>
