<div class="row h-100 align-items-center">

  <div class="col-md-8 bg-light col-sm-12 mx-auto" id="add-form" >



    <% if(errors.length > 0) {%>
      <% errors.forEach(function(error){ %>
         <div class= "alert alert-danger"> <%= error.text %> </div>
      <% }) %>
    <% } %>

    <%- include ../partials/add_form.ejs %>

  </div>


</div>
