

<div id="map">
</div>



<form class="form-control">
    <input type="search" id="map-search" class=" form-control" placeholder="Enter An Address Or Zipcode..." name="searchZip" required>

    <div class="form-group mt-2">
      <label for="radius"> Search Radius </label>
        <select class="custom-select d-inline-block" id="radius" name="radius">
          <option value="5">5 miles</option>
          <option value="10">10 miles</option>
          <option value="15">15 miles </option>
          <option value="20">20 miles </option>
        </select>
      </div>

    <button class="btn btn-primary submit mt-2" type="submit" id="submit"> Search </button>
</form>




<script src="/javascript/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGdCjLNhY1u1ZQhXOHhVgTewhOyj71OuU&callback=initMap"></script>
