<h1> This is where we will list the stuff </h1>
<ul>
  <li> Users ratings as a player </li>
  <li> Users ratings as a host </li>
  <li> Other Stats if I am not lazy </li>
  <li> Upcoming games </li>
  <li> Past Games / games in general?  </li>
</ul> 
