<%- include ../partials/dashboard_nav.ejs %>



<div class="container profile" >
  <h3> <%= user.firstName %>'s  Profile </h3>
  <div class="stars-outer">
    <div class="stars-inner"></div>
  </div>
  <ul>
    <li> Need more info here </li>
    <li> Host Rating: <span id="rating" data-rating= "<%= user.hostReviewAverage%>"> <%= user.hostReviewAverage%> </span> </li>
    <li> So most recent game played should show up </li>
    <li> And also the averaged reviews for both host and player </li>
    <li> hmmm could make a friends function or something? Maybe too much </li>
  </ul>
</div>
