<div class="row h-100">
  <div class="col">
  </div>
  <div class="col-12  bg-light text-center">

    <h1> <%= user.firstName %> | <%= user.lastName %>'s  Public Profile </h1>
    <p> put an image up in the header that hopefully doesn't look terrible </p>
    <span> Host Rating: <%= user.hostReviewAverage %> </span>
    <span> Player Rating : <%= user.playerReviewAverage %> </span>
    <ul>
      <li> So make player list link here, and then make the host also link here </li>
      <li> This is the place text-centertion and what not. </li>

    </ul>

  </div>

  <div class="col">
  </div>

</div>
