<!-- so here we can do like member for x time stuff
games played in
player rating
Game master rating
location, image etc.
could do a friends list type thing but maybe wait on that?  -->

<h1> I'm a placeholder </h1> 
