<!-- so here we can do like member for x time stuff
games played in
player rating
Game master rating
location, image etc.
could do a friends list type thing but maybe wait on that?  -->

<h1> I'm a placeholder </h1>
<!-- basically make this a public profile page, with the ability to edit it, have it link on the show page!  -->
<ul>
  <li> So make player list link here, and then make the host also link here </li> 

</ul>
