<h1> Edit <%= user.firstName %>'s Profile </h1>


<form action="/users/<%= user.id %>?_method=PUT" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <textarea class="form-control" rows="4" name="profileDescription" placeholder="Tell us a little about yourself...">
      <%= user.profileInfo %>
    </textarea>
  </div>
      <button class="btn btn-danger">Submit Changes</button>
</form>
